.submit-button {
  border: 2px solid rgb(146, 202, 202);
  color: rgb(255, 255, 255);
  background-color: rgb(146, 202, 202);
  font-family: "Roboto Slab";
  &:hover,
  &:focus,
  &:active,
  &:target {
    background-color: rgb(146, 202, 202);
    color: #fff;
    border: 2px solid rgb(146, 202, 202);
  }
}

.new-form {
  background-color: rgb(89, 128, 128);
  color: #fff;
}

.new-listing-title {
  color: white;
  font-family: "Gluten";
  font-weight: 900;
}

.remove-button {
  border: none;
  color: rgb(226, 85, 85);
  background-color: transparent;
  font-family: "Roboto Slab";
  font-size: large;
  &:hover,
  &:focus,
  &:active,
  &:target {
    background-color: transparent;
    color: rgb(71, 119, 119);
  }
}

.confirm-photos-button {
  align-self: center;
  border: 2px solid rgb(184, 209, 123);
  color: rgb(255, 255, 255);
  background-color: rgb(184, 209, 123);
  font-family: "Roboto Slab";
  width: 50%;
  &:hover,
  &:focus,
  &:active,
  &:target {
    background-color: rgb(184, 209, 123);
    color: #fff;
    border: 2px solid rgb(184, 209, 123);
  }
}

.filter-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filter-select {
  border: 2px solid rgb(89, 128, 128);
  color: rgb(255, 255, 255);
  background-color: rgb(89, 128, 128);
  font-size: Medium;
  font-family: "Poppins";
  margin-bottom: 2rem;
}

.filter-search {
  border: 2px solid rgb(89, 128, 128);
  color: rgb(255, 255, 255);
  background-color: rgb(89, 128, 128);
  font-size: Medium;
  font-family: "Poppins";
  margin-bottom: 2rem;
  width: 350px;
  color: white;
}

.filter-search::placeholder {
  color: white;
}

.go-back-button {
  border: 2px solid rgb(71, 119, 119);
  color: white;
  font-family: "Roboto Slab";
  font-size: large;
  font-weight: bolder;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: #fff;
    border: transparent;
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.white {
  color: white;
  font-size: 50px;
}
